body {
    background: #F1B82D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F1B82D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    font-family: 'Graphik', sans-serif;
    color: #000;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: seashell;
    padding-top: 40px
}

h6 {
    font-size:35px;
    text-align: center;
    padding:20px;
}


p {
    text-align: center;
}



.container {

}


.col-lg-4 {
    padding: 0px;
    box-shadow: -5px -4px 8px #6c6565, 9px 9px 25px #0b0b0b;
    margin: 10px;
}

.col-lg-8 {
    padding: 0px;
    box-shadow: -5px -4px 8px #6c6565, 9px 9px 25px #0b0b0b;
    margin: 10px;
}



.mb-0 {
    text-align: left;
    font-weight: 100px;
}

.mb-10 {
    text-align: left;
}

.submit-button{
    width:auto;
    height: auto;
    float: right;
    margin: 20px;
    font-family:'Graphik', sans-serif;
    
}

.footer {
  background-color: black;
  text-align: center;
  color: #F1B82D;
  position: fixed;
  bottom: 0;
    left: 0;
    width: 100%;
}

.link {
  color: #F1B82D;
}

.active, .link:hover {
  text-decoration: none;
  color: white;
}

.footer {
  background-color: black;
  text-align: center;
  color: #F1B82D;
  padding: 10px;
}

#foot {
  background-color: black;
  padding: 5px;
}

#logoText {
  font-size: 20px;
}
    
img {
  width: 50px;
  height: 60px;
}