
body {
    background: #F1B82D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F1B82D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    font-family: 'Graphik Condensed', 'Clarendon URW', 'Open Sans' ;
    color: #000;
}

img {
  width: 50px;
  height: 60px;
}

#logoText {
  font-size: 20px;
}

/* delete the white space below the footer */
section {
    min-height: 100vh; /* minus the height of the footer */
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

h1 {
  text-align: center;
  padding: 30px;
  background-color: black;
  font-weight: bold;
  color: #F1B82D
}

.wrapper {
  text-align: center;
  width: 50%;
  margin: 0px auto;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 2px;
}

.form-signin {
  display: block;
  padding: 45px 35px 45px;
  margin: auto;
  background-color: white;
  box-shadow: -5px -4px 8px #6c6565, 9px 9px 25px #0b0b0b;
  border-radius: 15px
}

.form-signin-heading, .checkbox {
  text-align: center;
  margin-bottom: 30px;
}

.form-signin {
    width: 410px;
    margin: auto;       
}



.checkbox {
  font-weight: normal;
}

.btn {
  background-color: #F1B82D;
  color: seashell;
  border-color: black;
}

.btn2 {
  background-color: black;
  color: black;
  border-color: black;
  color: gold;
  width: 100px;
  height: 40px;
  border-radius: 5px
}

.active, .btn:hover {
  background-color: #8F8884;
  color: white;
  border-color: #8F8884;
}

.footer {
  background-color: black;
  text-align: center;
  color: #F1B82D;
  padding: 10px;
}

.link {
  color: #F1B82D;
}

.active, .link:hover {
  text-decoration: none;
  color: white;
}

#foot {
  background-color: black;
  padding: 5px;
  
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  background-color: lightgray;
/* @include box-sizing(border-box);
&:focus {
    z-index: 2;
} */

/*input[type="text"] {
  margin-bottom: -1px;
  border: 2px solid black;
}

input[type="password"] {
  margin-bottom: 20px;
  border: 2px solid black;
}
*/
    
